* text=auto eol=lf

*.sv text eol=lf
*.svh text eol=lf
*.v text eol=lf
*.vh text eol=lf
*.tcl text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.mk text eol=lf
Makefile text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.wdb binary
*.vhdx binary
