[submodule "rtl/cva6"]
	path = rtl/cva6
	url = git@github.com:NayCheno/cva6.git
	branch = rvmt
[submodule "vendor/vivado-boards"]
	path = vendor/vivado-boards
	url = https://github.com/Digilent/vivado-boards
[submodule "rtl/vex-riscv"]
	path = rtl/vex-riscv
	url = git@github.com:NayCheno/VexRiscv.git
